@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --c1:#1F192E;
    --c2:#362915;
    --c3:#121212;
    --c4:#C09AF8;
    --c5:#9F9F9F;
    --c6:#8F8E91;
    --c7:#F7E7CE;
    --c8:#985CF0;
}

.montserrat-f {
  font-family: "Montserrat", sans-serif;
}